main{

    width: 80%;
    margin: auto;
    margin-top: 160px ; 
    height: 80%;
}


.g8{ 
    background: #282931;
}


.Terms{
    padding-top: 20px;
    width: 90%;
    margin-left: 10px;
}

